*{
    color: blueviolet;
}
p{
   background-color: rgb(117, 117, 11) ;
}
p>sup{
  color: cyan;
}
td,u{
    font-size: small;
}
p>small
{
    font-weight: bolder;
    font-size: x-large;
}
#one{
  color:crimson;  
}
#id1{
    color:green;

}